<!doctype html>
<html lang="en" data-theme="light">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/pico.min.css">
  <title>Matthew Crompton - Ohio Data Entry</title>
</head>

<body>
  <main class="container">
    <header>
      <hgroup>
        <h1>Matthew Crompton: Ohio Data Entry</h1>
      </hgroup>
    </header>
    <section id="forms_section">
      <h2>Create User</h2>
      <form action=" /users" method="POST">
        <input type="text" name="name" placeholder="Name" aria-label="name" required>
        <input type="number" name="age" placeholder="Age" aria-label="age">
        <input type="text" name="title" placeholder="Title" aria-label="title" required>
        <input type="text" name="homeTown" placeholder="Home Town" aria-label="homeTown">
        <button type="submit">Submit</button>
      </form>
    </section>
  </main>
</body>

</html>